/* Style the tab */
.tab_ads {
    display: flex;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

/* Style the buttons that are used to open the tab content */
.tab_ads button {
    width: 200px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab_ads button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab_ads button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}